:root {
    --primary-color: #054FA5;
    --secondary-color: #01ACE4;
    --secondary-color-dark: #0a0b0f;
    --text-light: #6b7280;
    --extra-light: #f8f7fd;
    --white: #ffffff;
    --light-bg-color: #F5FAF9;
    /* --max-width: 1200px; */
}

.contact-banner {
    background-image: url('../images/contact_banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

.contact-banner-content {
    padding: 4rem 6rem;
    /* background: #ffffff; */
    /* width: 100%; */
    background: #ffffff3c;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.626) 0%, rgba(5, 80, 165, 0.667) 100%);
}

.contact-banner-text {
    margin-top: 85px;
}

.contact-banner-text h1 {
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--extra-light);
}

.conatct-banner-text p {
    font-size: 20px;
    font-weight: 600;
    color: var(--extra-light);

}

.contact-banner-text span {
    font-size: 20px;
    font-weight: 500;
    color: var(--extra-light);
}

.contact-banner-text span a {
    color: var(--extra-light);
}

.contact-banner-text span a:hover {
    color: var(--primary-color);
}


.contact-container {
    padding: 4rem 6rem;
    margin: auto;
    max-width: 1200px;

}

.contact-container h1 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 700;
}

.contact-container p {
    color: var(--text-light);
}


.contact-info {
    background-color: #f4fafa;
    padding: 30px;

}

.social-icon a i:hover {
    color: #054FA5;
    transition: all 0.1s ease-in;
}

.contact-info h5 {
    font-weight: bold;
}

.contact-info i {
    font-size: 1.5rem;
    color: var(--secondary-color);

}

.contact-form h4 {
    font-weight: bold;
}

.form-control::placeholder {
    color: #aaa;
}

.btn-send {
    background-color: var(--secondary-color) !important;
    color: white;
}

.custom-map-ratio {
      aspect-ratio: 18 / 6;
}



 @media (max-width: 576px) {
    .custom-map-ratio {
      aspect-ratio: 14 / 12;
    }
  }