.vidyavriksha-banner {
    background-image: url('../images/vidyavrikshabanner.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.vidyavriksha-banner-content {
    padding: 4rem 6rem;
    /* background: #ffffff; */
    /* width: 100%; */
    background: #ffffff3c;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.626) 0%, rgba(5, 80, 165, 0.667) 100%);
}

.vidyavriksha-banner-text {
    margin-top: 85px;
}

.vidyavriksha-banner-text h1 {
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--extra-light);
}

.vidyavriksha-banner-text p {
    font-size: 20px;
    font-weight: 600;
    color: var(--extra-light);

}

.vidyavriksha-banner-text span {
    font-size: 20px;
    font-weight: 500;
    color: var(--extra-light);
}

.vidyavriksha-banner-text span a {
    color: var(--extra-light);
}

.vidyavriksha-banner-text span a:hover {
    color: var(--primary-color);
}

.mrfarmer-section {
    padding: 1rem 6rem;
}

